# See .env for container group name.
services:
 rangelog:
  build: .
  container_name: rangelog
  restart: unless-stopped
  ports:
   - "${RANGELOG_PORT}:8090"
  volumes:
   - ${RANGELOG_PATH}/pb_data:/pb/pb_data
   - ${RANGELOG_PATH}/pb_public:/pb/pb_public
   - ${RANGELOG_PATH}/pb_hooks:/pb/pb_hooks
   - ${RANGELOG_PATH}/pb_migration:/pb/pb_migration
  environment:
   - POCKETBASE_ADMIN_EMAIL=${RANGELOG_ADMIN_EMAIL}
   - POCKETBASE_ADMIN_PASSWORD=${RANGELOG_ADMIN_PASSWORD}
  # Optional: add health check
  healthcheck:
   test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:${RANGELOG_PORT}/api/health" ]
   interval: 30s
   timeout: 10s
   retries: 3
