@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
		font-family: 'system-ui', sans-serif;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

	h1 {
		@apply text-5xl font-bold;
	}
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
