@layer base {
	:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 174 77% 37%;
    --primary-foreground: 187 35% 94%;

    --secondary: 203 73% 15%;
    --secondary-foreground: 190 15% 78%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 76%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  [data-kb-theme="dark"] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

		--primary: 174 77% 37%;
    --primary-foreground: 187 35% 94%;

    --secondary: 203 73% 15%;
    --secondary-foreground: 190 15% 78%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 34%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
	* {
    @apply border-border;
  }

	body {
		font-family: "system-ui", sans-serif;
		@apply bg-background text-foreground;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		@apply block clear-both;
	}

	p {
		@apply pb-2;
	}

	h1,
	.h1 {
		@apply font-semibold !text-xl3;
	}

	h2,
	.h2 {
		@apply font-semibold !text-xl2;
	}

	h3,
	.h3 {
		@apply font-semibold !text-xl;
	}
}
