@layer base {
	.dark,
  [data-kb-theme="dark"] {
		--background: 20.4% 0.016 264.052;
    --foreground: 92.5% 0 0;

    --muted: 23.5% 0.011 264.052;
    --muted-foreground: 66.8% 0.015 264.052;

    --accent: 23.5% 0.011 264.052;
    --accent-foreground: 98.5% 0 0;

    --popover: 20.4% 0.016 264.052;
    --popover-foreground: 98.5% 0 0;

    --border: 39% 0.017 264.052;
    --input: 23.5% 0.011 264.052;

    --card: 20.4% 0.016 264.052;
    --card-foreground: 98.5% 0 0;

    --primary: 98.5% 0 0;
    --primary-foreground: 28.1% 0.017 264.052;

    --secondary: 23.5% 0.011 264.052;
    --secondary-foreground: 98.5% 0 0;

    --destructive: 40.6% 0.153 29.234;
    --destructive-foreground: 98.5% 0 0;

    --info: 95.1% 0.098 235.413;
    --info-foreground: 55.8% 0.116 235.413;

    --success: 91.6% 0.117 163.409;
    --success-foreground: 47.6% 0.119 163.409;

    --warning: 84.5% 0.059 85.874;
    --warning-foreground: 50.4% 0.149 57.487;

    --error: 78.1% 0.075 29.234;
    --error-foreground: 51.9% 0.175 29.234;

    --ring: 86.1% 0.014 264.052;

		--blue-50: 22% 0.065 267.935;
		--blue-100: 32% 0.110 265.522;
		--blue-200: 38% 0.150 265.638;
		--blue-300: 45% 0.185 264.376;
		--blue-400: 50% 0.200 262.881;
		--blue-500: 58% 0.185 259.815;
		--blue-600: 66% 0.145 254.624;
		--blue-700: 76% 0.090 251.813;
		--blue-800: 85% 0.050 254.128;
		--blue-900: 90% 0.028 255.585;

		--green-50: 23% 0.048 152.934;
		--green-100: 34% 0.070 152.535;
		--green-200: 40% 0.090 151.328;
		--green-300: 48% 0.115 150.069;
		--green-400: 58% 0.145 149.214;
		--green-500: 68% 0.160 149.579;
		--green-600: 75% 0.155 151.711;
		--green-700: 84% 0.110 154.449;
		--green-800: 90% 0.060 155.995;
		--green-900: 94% 0.032 156.743;
		--green-950: 96% 0.013 155.826;

		--orange-50: 23% 0.058 36.259;
		--orange-100: 36% 0.090 38.172;
		--orange-200: 43% 0.120 37.304;
		--orange-300: 51% 0.145 38.402;
		--orange-400: 60% 0.165 41.116;
		--orange-500: 66% 0.125 47.604;
		--orange-600: 71% 0.135 55.934;
		--orange-700: 80% 0.095 66.29;
		--orange-800: 88% 0.055 70.697;
		--orange-900: 93% 0.028 75.164;
		--orange-950: 96% 0.012 73.684;

		--red-50: 22% 0.068 26.042;
		--red-100: 35% 0.105 25.723;
		--red-200: 40% 0.132 26.899;
		--red-300: 46% 0.160 27.518;
		--red-400: 53% 0.180 27.325;
		--red-500: 59% 0.175 25.331;
		--red-600: 66% 0.142 22.216;
		--red-700: 77% 0.085 19.571;
		--red-800: 86% 0.045 18.334;
		--red-900: 91% 0.024 17.717;
		--red-950: 95% 0.010 17.38;
	}
}
