@layer base {
	:root {
		--background: 100% 0 0;
    --foreground: 30.4% 0.016 264.052;

    --muted: 94.8% 0.009 264.052;
    --muted-foreground: 54.4% 0.012 264.052;

    --popover: 100% 0 0;
    --popover-foreground: 20.4% 0.016 264.052;

    --border: 92% 0.017 264.052;
    --input: 92% 0.017 264.052;

    --card: 100% 0 0;
    --card-foreground: 20.4% 0.016 264.052;

    --primary: 28.1% 0.017 264.052;
    --primary-foreground: 98.5% 0 0;

    --secondary: 96.8% 0.014 264.052;
    --secondary-foreground: 28.1% 0.017 264.052;

    --accent: 96.8% 0.014 264.052;
    --accent-foreground: 28.1% 0.017 264.052;

    --destructive: 65.9% 0.199 29.234;
    --destructive-foreground: 98.5% 0 0;

    --info: 95.1% 0.098 235.413;
    --info-foreground: 55.8% 0.116 235.413;

    --success: 91.6% 0.117 163.409;
    --success-foreground: 47.6% 0.119 163.409;

    --warning: 92.5% 0.059 85.874;
    --warning-foreground: 60.4% 0.149 57.487;

    --error: 95.1% 0.116 29.234;
    --error-foreground: 61.9% 0.195 29.234;

    --ring: 28.1% 0.017 264.052;

    --radius: 0.5rem;

		--blue-50: 97% 0.014 254.604;
		--blue-100: 93.2% 0.032 255.585;
		--blue-200: 88.2% 0.059 254.128;
		--blue-300: 80.9% 0.105 251.813;
		--blue-400: 70.7% 0.165 254.624;
		--blue-500: 62.3% 0.214 259.815;
		--blue-600: 54.6% 0.245 262.881;
		--blue-700: 48.8% 0.243 264.376;
		--blue-800: 42.4% 0.199 265.638;
		--blue-900: 37.9% 0.146 265.522;
		--blue-950: 28.2% 0.091 267.935;

		--green-50: 98.2% 0.018 155.826;
		--green-100: 96.2% 0.044 156.743;
		--green-200: 92.5% 0.084 155.995;
		--green-300: 87.1% 0.15 154.449;
		--green-400: 79.2% 0.209 151.711;
		--green-500: 72.3% 0.219 149.579;
		--green-600: 62.7% 0.194 149.214;
		--green-700: 52.7% 0.154 150.069;
		--green-800: 44.8% 0.119 151.328;
		--green-900: 39.3% 0.095 152.535;
		--green-950: 26.6% 0.065 152.934;

		--orange-50: 98% 0.016 73.684;
		--orange-100: 95.4% 0.038 75.164;
		--orange-200: 90.1% 0.076 70.697;
		--orange-300: 83.7% 0.128 66.29;
		--orange-400: 75% 0.183 55.934;
		--orange-500: 70.5% 0.168 47.604;
		--orange-600: 64.6% 0.222 41.116;
		--orange-700: 55.3% 0.195 38.402;
		--orange-800: 47% 0.157 37.304;
		--orange-900: 40.8% 0.123 38.172;
		--orange-950: 26.6% 0.079 36.259;

		--red-50: 97.1% 0.013 17.38;
		--red-100: 93.6% 0.032 17.717;
		--red-200: 88.5% 0.062 18.334;
		--red-300: 80.8% 0.114 19.571;
		--red-400: 70.4% 0.191 22.216;
		--red-500: 63.7% 0.237 25.331;
		--red-600: 57.7% 0.245 27.325;
		--red-700: 50.5% 0.213 27.518;
		--red-800: 44.4% 0.177 26.899;
		--red-900: 39.6% 0.141 25.723;
		--red-950: 25.8% 0.092 26.042;
	}
}
